<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../css/index.css">
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body>
    <h1>BATATA</h1>
    {{helpers.teste}}
    {{helpers.xuin}}
  </body>
</html>
