body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#game-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.score {
    flex-direction: row;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

td {
    border: 1px solid black;
    padding: 20px;
}

td.snake {
    background-color: green;
}